# Day 1

# Strings

## **Exercises**

In [86]:
#1. take name as input and say hello
name = input(" ")
print("Hello {} ! ".format(name) )

 Deepak
Hello Deepak !

In [83]:
# 2. From below string print count of "Is".
string = "He is Amol and she is Chaitali"
string.count("is")

2

In [82]:
# 3. from below string split the words by space
string = "Data is new oil"
string.split(" ")

['Data', 'is', 'new', 'oil']

In [81]:
# 4. now from below list, join all words by "=" and create a sentence.
list_1 = ["Data", "is", "new", "oil"]
#ans
joinedl = "=".join(list_1)
print(joinedl)

Data=is=new=oil

In [80]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
#ans
replaced_sent2 = sentence.replace("Java","Python")
print(replaced_sent2)

I love programming in Python.

In [78]:
# 6. from below string remove(strip) additional spaces and print it
message = "   This is a message with spaces.   "
#ans
message.strip()

'This is a message with spaces.'

In [64]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
#ans
sentence.index("sample")

10

In [65]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
#ans
len(text)

14

In [66]:
#9. Print below string in reverse order
string = "Pineapple"
#ans
string[::-1]

'elppaeniP'

In [71]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
#ans
text.title()

'Welcome To Python Programming.'

In [72]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
#ans
text.upper()

'DATA IS NEW OIL'

In [73]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
#ans
text.capitalize()

'I am learning python'

In [74]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
#ans
text.swapcase()

'dAta IS nEw Oil'

In [75]:
#14. print the addition of below 2 strings
a = 20
b = 30
#ans
print(a+b)

50

In [76]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
print(a+b)

2030